@charset "UTF-8";

@font-face {
  font-family: "FuturaStd-Book";
  src: url("FuturaStd-Book.woff2") format("woff2"),
       url("FuturaStd-Book.woff") format("woff"),
       url("FuturaStd-Book.ttf") format("truetype"),
       url("FuturaStd-Book.eot") format("embedded-opentype"),
       url("FuturaStd-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}