@charset "UTF-8";

@font-face {
  font-family: "FuturaStd-Light";
  src: url("FuturaStd-Light.woff2") format("woff2"),
       url("FuturaStd-Light.woff") format("woff"),
       url("FuturaStd-Light.ttf") format("truetype"),
       url("FuturaStd-Light.eot") format("embedded-opentype"),
       url("FuturaStd-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}