body{
	color: #AC8647;
  font-size: 17pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@font-face {
  font-family: "SourceHanSansCN-Normal";
  src: url("../fonts/SourceHanSansCN-Normal.woff2") format("woff2"),
       url("../fonts/SourceHanSansCN-Normal.woff") format("woff"),
       url("../fonts/SourceHanSansCN-Normal.ttf") format("truetype"),
       url("../fonts/SourceHanSansCN-Normal.eot") format("embedded-opentype"),
       url("../fonts/SourceHanSansCN-Normal.svg") format("svg");
}
@font-face {
  font-family: "SourceHanSansCN-Light";
  src: url("../fonts/SourceHanSansCN-Light.woff2") format("woff2"),
       url("../fonts/SourceHanSansCN-Light.woff") format("woff"),
       url("../fonts/SourceHanSansCN-Light.ttf") format("truetype"),
       url("../fonts/SourceHanSansCN-Light.eot") format("embedded-opentype"),
       url("../fonts/SourceHanSansCN-Light.svg") format("svg");
}
@font-face {
  font-family: "FuturaStd-Book";
  src: url("../fonts/FuturaStd-Book.woff2") format("woff2"),
        url("../fonts/FuturaStd-Book.woff") format("woff"),
        url("../fonts/FuturaStd-Book.ttf") format("truetype"),
        url("../fonts/FuturaStd-Book.eot") format("embedded-opentype"),
        url("../fonts/FuturaStd-Book.svg") format("svg");
}
@font-face {
  font-family: "FuturaStd-Light";
  src: url("../fonts/FuturaStd-Light.woff2") format("woff2"),
        url("../fonts/FuturaStd-Light.woff") format("woff"),
        url("../fonts/FuturaStd-Light.ttf") format("truetype"),
        url("../fonts/FuturaStd-Light.eot") format("embedded-opentype"),
        url("../fonts/FuturaStd-Light.svg") format("svg");
}
#container, .page{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.page{
	position: absolute;
	left: 0; top: 0; width: 100%; height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#page-unlock{
	background-image: url(../images/images/bg1.png);
}
#page-hand{
  background-image: url(../images/images/bg2.png);
}
.page-hand-sands{
  background: url(../images/images/Sands33.png) no-repeat;
  height: 100%;
  background-size: 100% 100%;
}
@media screen and (min-width: 320px){
  #page-box{
    background: url(../images/images/第三屏-750x1624.jpg);
    background-size: cover;
  }
  .btn-open{
    display: inline-block;
    width: 80%;
    height: 50px;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    bottom: 55px;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
  }
  .main-text-2{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom:143px;
    transform: translateX(-50%);
    font-size: 12px;
  }
  .main-text-1{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom:177px;
    transform: translateX(-50%);
    font-size: 23px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 375px){
  #page-box{
    background: url(../images/images/第三屏-750x1624.jpg);
    background-size: cover;
  }
  .btn-open{
    display: inline-block;
    width: 80%;
    height: 50px;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    bottom: 55px;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
  }
  .main-text-2{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom:180px;
    transform: translateX(-50%);
  }
  .main-text-1{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom:210px;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 414px){
  #page-box{
    background: url(../images/images/第三屏-750x1624.jpg);
    background-size: cover;
  }
  .btn-open{
    display: inline-block;
    width: 80%;
    height: 50px;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    bottom: 55px;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
  }
  .main-text-2{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom:199px;
    transform: translateX(-50%);
  }
  .main-text-1{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom:230px;
    transform: translateX(-50%);
  }
}


.logo{
	text-align: center;
	height: 9px; background-size: auto 100%; background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/images/logo.png);
}

.button{
	position: absolute; left: 50%; bottom: 58px;
	width: 197px; height: 57px; margin-left: -98px;
	background:none; 
	background-repeat: no-repeat;background-size: 100% 100%;
	border: none;
}
.btn-claim{background-image: url(../images/btn_claim.png);}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.btn-music{
	width: 27px; height: 27px; background-color: transparent; border: none;
	background-image: url(../images/images/music-close.png);
	background-repeat: no-repeat; background-size: 100% 100%;
	position: absolute; top: 50px; right: 16px;
}
.btn-music-on{
  display: block;
  width: 27px; height: 27px; 
  background-color: #ffffff; 
  background: url(../images/images/music.png) no-repeat center;
  background-size: cover;
  animation: rotate 5.0s infinite linear;
}
.box-img{text-align: center;position: relative; margin-top: 40px;}
.box-flower{position: absolute; top: 145px; left: 50%; margin-left: -179px;}

.card-img{text-align: center; margin-top: -20px;}

.unlock{
  width: 290px; 
  height: 54px; 
  background-size: cover; 
  letter-spacing: 2px;
  background-image: url(../images/images/bottom1.png);
}

#slider{position: relative; width: 218px; height: 72px;}
#label{position: absolute; width: 72px; height: 72px; left: 0; top: 0;
	background: url(../images/images/bottom1.png) no-repeat; background-size: 100% 100%; 
}
.btn{
  height: 100%;
  position: relative;
  top: 61%;
}
#light{
  display: block;
  position: absolute;
  height: 10px;
  top: -0.45px;
  left: 40px;
  animation: mylight 2.5s ease 0.3s infinite;
}

@keyframes mylight {
  0% {
    left: 40px; 
    opacity: 0;
    height: 10px;
    top:-5px;
    }
  90% {
    left: 275px;
    opacity: 1;
    height: 11px;
    top: -5px;
  }
  100% {
    left: 280px;
    opacity: 0.2;
    height: 10px;
    top: -5px;
  }
}

#unlock-btn,#unlock-btn-1{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#unlock-btn{
  display: inline-block;
  text-align: center;
  line-height: 52px;
  color: #ffffff;
  font-size: 18px;
  z-index: 1;
}

#unlock-btn-1{
  z-index: 0;
  display:inline-block;
  width: 290px; 
  height: 59px; 
  background: url(../images/images/Button\ projection.png) no-repeat;
  background-size: cover;
  border-radius: 6px;
}
#unlock-key{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
}

#hend-text,#unlock-text{
  font-family: "SourceHanSansCN-Normal";
  position: relative;
  top: 5%;
  color:#ffffff;
  text-align: center;
  letter-spacing: 3px;
}
#hend-text{
  font-size: 22px;
  font-family: ''
}

#unlock-text{
  font-size: 32px;
}
#w1{
  position: absolute;
  left: 10%;
  width: 56%;
  top: 5%;
  animation-name: myW1,heart;
  animation-duration: 1.5s,2s;
  animation-delay: 0s,1s;
  animation-timing-function: ease-in-out,ease-in-out;
  animation-iteration-count: 1,infinite;
  animation-direction: normal,alternate;
}
#w2{
  opacity: 0;
  position: absolute;
  left: 47%;
  top: 25%;
  width: 40%;
  animation-name: myW2,heart;
  animation-duration: 1.5s,2s;
  animation-delay: 1s,2s;
  animation-timing-function: ease-in-out,ease-in-out;
  animation-iteration-count: 1,infinite;
  animation-direction: normal,alternate;
}
@keyframes myW1{
  from{top: 60px; opacity: 0;}
  to{top: 5%; opacity: 1;}
}
@keyframes myW2{
  from{top: 100px; opacity: 0;}
  to{top: 25%; opacity: 1;}
}

@keyframes heart{
  from{transform:translate(0,0);opacity: 1;}
  to{transform:translate(0,8px);opacity: 1;}
}
#hand-haed{
  width: 85%;
  height: 2%;
  position: absolute;
  left: 50%;
  top: 22.5%;
  transform: translateX(-50%);
  background-color:#2d1118;
  border-radius: 4px;
}
#hend-body{
  width: 80%;
  height: 63%;
  position: absolute;
  left: 50%;
  top: 55%;
  transform:translate(-50%,-50%);
  font-family: "FuturaStd-Book";
}
#card{
  background: url(../images/images/card.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
#card-head{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  color: #adadad;
  font-size: 11px;
  width: 100%;
  position: absolute;
  top: 5%;
}
#card-head:after,#card-head:before{
  content: "";
  display: inline-block;
  border-bottom: 1px solid #adadad;
  height: 1px;
  width: 13%;
}
#card-head:after{
  margin-left: 20px;
}
#card-head:before{
  margin-right: 20px;
}
#card-1{
  height: 16%;
}
#card-2,#card-3{
  border-bottom: 1px dashed #501827;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#card-2{
  height: 26%;
  width: 92%;
}
#card-3{
  top: 42%;
  height: 36%;
  width: 92%;
  display: flex;
  align-items: center;
}
.card-4{
  width: 100%;
  position: absolute;
  top: 84%;
  font-size: 0.165rem;
  color: #501827;
}

.card-2-main{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-2-left{
  line-height: 100%;
  font-size: 78px;
  color: #501827;
  flex: 0 0 55%;
  text-align: center;
}
#card-2-right{
  flex: 0 0 45%;
  text-align: center;
  border-left: 1px solid #501827;
}
.card-2-right-1,.card-2-right-2{
  display: block;
  text-align:left;
  padding-left: 10%;
  color: #501827;
}
.card-2-right-2{
  font-size: 0.28rem;
  font-family: 'SourceHanSansCN-Normal'
}
.card-2-right-1{
  font-size: 0.13rem;
}
.card-4-right{
  flex: 0 0 47%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.card-4-right a{
  display: inline-block;
  width: 1.04rem;
  height: 0.4rem;
  color: #ffffff;
  background-color: #501827;
  text-align: center;
  line-height: 0.4rem;
  font-family: 'FuturaStd-Light'
}
.card-4-left{
  flex: 0 0 53%;
}

.card-4-left span{
  display: block;
  text-align: center;
  font-family: 'FuturaStd-Book';
}
.card-4-left-1{
  letter-spacing: 1px;
  font-size: 14.5px;
}
.card-4-left-2{
  letter-spacing: 0.5px;
  font-size: 16.5px;
}
.main-text span{
  display: block;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 2%;
}
.main-text-1{
  font-size: 0.225rem;
}
.main-text-2{
  font-size: 0.12rem;
  letter-spacing: 0.008rem;
  margin-top: 3%;
}
